

#app-container .slide.default {
    transition: 1s ease-in all;
}
#app-container .slide.default.ng-enter,
#app-container .slide.default.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translate(0, -500vh) scale(5, 5);
}
#app-container .slide.default.ng-enter.ng-enter-active,
#app-container .slide.default.ng-leave {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
}

#app-container .slide:not(.default) {
    transition: 1s ease-in-out all;
}
#app-container .slide:not(.default).ng-enter,
#app-container .slide:not(.default).ng-leave.ng-leave-active {
    opacity: 0;
    transform: translate(0, 100vh);
}
#app-container .slide:not(.default).ng-enter.ng-enter-active,
#app-container .slide:not(.default).ng-leave {
    opacity: 1;
    transform: translate(0, 0);
}

#app-container .slide:not(.default) .table-disp {
    transition: 1s ease-in all;
}
#app-container .slide:not(.default) .table-disp.ng-enter,
#app-container .slide:not(.default) .table-disp.ng-leave.ng-leave-active {
    opacity: 0;
}
#app-container .slide:not(.default) .table-disp.ng-enter.ng-enter-active,
#app-container .slide:not(.default) .table-disp.ng-leave {
    opacity: 1;
}
#app-container .slide:not(.default) .table-disp .inner .inforow {
    transform: translate(0, 0) scale(1, 1);
}
#app-container .slide:not(.default) .table-disp.ng-enter .inner .inforow {
    transform: translate(0, 100vh) scale(1, 1);
}
#app-container .slide:not(.default) .table-disp.ng-enter-active .inner .inforow {
    transform: translate(0, 0) scale(1, 1);
    transition: 1s ease-out all;
}
#app-container .slide:not(.default) .table-disp.ng-leave .inner .inforow {
    transform: translate(0, 0) scale(1, 1);
}
#app-container .slide:not(.default) .table-disp.ng-leave-active .inner .inforow {
    transform: translate(0, -200vh) scale(2, 2);
    transition: 1s ease-out all;
}

#app-container .slide:not(.default) .table-disp .inner iframe.event-map {
    transition: 1s ease-out bottom;
}
#app-container .slide:not(.default) .table-disp.ng-leave.ng-leave-active .inner iframe.event-map {
    bottom: -450px;
}
#app-container .slide:not(.default) .table-disp.ng-leave .inner iframe.event-map {
    bottom: 0px;
}

@keyframes map-appearing {
    from {bottom: -450px; opacity: 0;}
    50%  {bottom: -450px; opacity: 0;}
    100% {bottom: 0px; opacity: 1;}
}
#app-container .slide .inner iframe.event-map {
    animation: map-appearing 3s;
}