@keyframes app-appearing {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}
#app-container {
    animation: app-appearing 1.5s;
}

#loading-placeholder {
    transition: 1.5s ease-in all;
}
#events-container {
    transition: 1s ease-in-out all;
}
#loading-placeholder.ng-leave.ng-leave-active,
#events-container.ng-enter {
    transform: translate(0, -500vh) scale(5, 5);
    opacity: 0;
}
#events-container.ng-enter {
    transform: translate(0, 100vh) scale(1, 1);
    opacity: 0;
}
#loading-placeholder.default.ng-leave,
#events-container.ng-enter.ng-enter-active {
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
}

#events-container #events .event.ng-enter,
#events-container #events .event.ng-leave {
    transition: 1s ease-in-out all;
}
#events-container #events .event.ng-enter,
#events-container #events .event.ng-leave.ng-leave-active {
    transform: scale(1, 0);
    height: 0%;
    opacity: 0;
}
#events-container #events .event.ng-leave,
#events-container #events .event.ng-enter.ng-enter-active {
    transform: scale(1, 1);
    height: 33.333334%;
    opacity: 1;
}