html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background: #f5f5f5;
}

#app-container {
    position: relative;
    width: 100%;
    height: 100%;
    color: #6b6b6b;
    font-family: 'PT Sans Narrow', sans-serif;
}

#app-container #loading-placeholder,
#app-container #events-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#loading-placeholder {
    display: table;
    font-family: 'Playfair Display', serif;
    color: #48AB79;
}

#loading-placeholder .inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#loading-placeholder .inner .logo-img {
    width: 100%;
    height: auto;
}

#loading-placeholder .inner h1 {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-size: 5em;
}

#loading-placeholder .inner .progress {
    margin-top: 3em;
    border: 1px solid rgba(72, 171, 121, 0.2);
    height: 10px;
}

#loading-placeholder .inner .progress .progress-bar {
    background-color: #48AB79;
    width: 100%;
}

#events-container {}

#events-container #head {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background: #f5f5f5;
    color: #48AB79;
    font-family: 'Playfair Display', serif;
}

#events-container #head .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    padding: 10px 0 10px 20px;
}

#events-container #head .logo > * {
    float: left;
}

#events-container #head .logo .logo-img {
    max-height: 100%;
    width: auto;
    margin-right: 15px;
}

#events-container #head .logo h1 {
    margin: 0;
    letter-spacing: 2px;
    font-size: 26px;
}

#events-container #head .title {
    text-align: center;
    margin: 0;
    line-height: 80px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
}

#events-container #head .title .date {
    display: inline-block;
    float: right;
    margin: 10px 20px 0 0;
    vertical-align: baseline;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 60px;
    color: #ababab;
}

#events-container #head .title .date h1 {
    margin: 0;
    line-height: 0.4em;
    font-size: 1em;
}

#events-container #head .title .date em {
    display: block;
    margin-top: 1em;
    font-size: 0.3em;
    line-height: 1em
}

#events-container #events {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 80px;
    height: auto;
    width: 100%;
}

#events-container #events .event {
    position: relative;
    width: 100%;
    height: 33.333334%;
    padding: 0 10%;
    overflow: hidden;
    box-sizing: border-box;
}

#events-container #events .event .table-disp {
    display: table;
    height: 100%;
    width: 100%;
}

#events-container #events .event .table-disp .inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

#events-container #events .event .info h1 {
    margin-top: 0;
}

#events-container #events .event .info .in-line-info {
    display: inline-block;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

#events-container #events .event .info .in-line-info em {
    margin-right: 10px;
}

#events-container #events .event .info .in-line-info em:before {
    margin-right: 3px;
}

#events-container #events .event .info .event-link {
    display: inline-block;
    margin-top: 5px;
}
